.group:after {
	content: "";
	display: table;
	clear: both;
}

.glesys#message {
	margin: 5px 15px 2px 5px;
}

.glesys.settings-notice#message {
	margin: 20px 10px 2px 0px;
}

.top-settings {
	margin: 30px 0;
}

table.glesys-emails td {
	vertical-align:middle;
	padding: 5px 10px;
}

table.glesys-emails .column-edit-email, table.glesys-emails .column-delete {
	width: 10%;
	text-align:right;
}

table.glesys-emails .column-email-address {
	width: 35%;
}

table.glesys-emails .column-password {
	width: 25%;
}

table.glesys-emails .column-password .modal-content {
	display: none;
}

table.glesys-emails .column-antivirus,
table.glesys-emails .column-antispam {
	width: 10%;
	text-align:center;
}

table.glesys-emails .column-quota {
	text-align: left;
	width: 20%;
}


table.glesys-emails .column-email-goto .edit-goto, table.glesys-emails .column-email-goto .save {
	float: right;
}

table.glesys-emails .column-submit {
	width: 64px;
	text-align: right;
}

table.glesys-emails .column-quota .quota-width {
	width: 49px;
	margin-right: 5px;
	text-align: right;
	display: inline-block;
}

table.glesys-emails .column-quota .newquota {
	width: 60px;
}

table.glesys-emails .column-email-goto .forward-to {
	width: 80%;
}

#modal, .modal-content.wrap {
	margin: 0px 15px 15px 15px;
}

.modal-content.wrap  div {
	margin: 20px 0;
}


/* Sub forms */
.sub-form {
	margin: 20px 0 0 0;
	display: none;
}

.sub-form label {
	font-weight: bold;
}

.sub-form div.col {
	width: 500px;
	margin-bottom: 20px;
}

.sub-form div.col:last-child {
	margin-bottom: 0;
}

.sub-form div.col input[type="text"], .sub-form div.col input[type="password"] {
	width: 150px;
}

/* Server settings */
.server-settings .form-table th {
	padding: 10px 10px 10px 0;
}

.server-settings .button.save-settings {
	margin: 20px 0 0 0;
}

/*  Red button */
.wp-core-ui .button-red {
	background-color: #E5443D;
	border-color: #CD2938;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 160, 148, 0.5);
 	box-shadow: inset 0 1px 0 rgba(255, 160, 148, 0.5);
 	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-red.hover,
.wp-core-ui .button-red:hover,
.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
	border-color: #A1002E;
	background-color: #D82C3B;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
	border-color: #500F0E;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.wp-core-ui .button-red.active,
.wp-core-ui .button-red.active:hover,
.wp-core-ui .button-red.active:focus,
.wp-core-ui .button-red:active {
	border-color: #B60016;
	background-color: #E5443D;
	-webkit-box-shadow: inset 0 1px 0 #BA0514;
 	box-shadow: inset 0 1px 0 #BA0514;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .button-red[disabled],
.wp-core-ui .button-red:disabled,
.wp-core-ui .button-red-disabled {
	color: #E79496 !important;
	background: #BA292B !important;
	border-color: #7F1C1F !important;
	-webkit-box-shadow: none !important;
	box-shadow:         none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
	cursor: default;
}

/* Glesys Dashboard Widgets */
table.glesys-dashboard-server-status {
	width: 100%;
}

table.glesys-dashboard-server-status th, table.glesys-dashboard-server-status td {
	text-align: left;
}